<%= stylesheet_link_tag 'signup_page' %>

<div class="signup_section">
  <%= image_tag("signup.jpg", alt: "Description of the image", class: 'session_left_img') %>

  <%= form_with model: User.new, method: :post, url: signup_path(user_type: @user_type), class: 'signup_section_form' do |f| %>
    <h2 class="signup_section_form_heading">Sign Up as <%= @user_type %></h2>
    <p class="signup_section_form_text">Please fill your information below</p>
    <%= f.hidden_field :user_type, value: @user_type, class: 'signup_section_form_field' %>
    <%= f.text_field :name, placeholder: "Name", required: true, class: 'signup_section_form_field' %>
    <%= f.text_field :phone, placeholder: "Phone number", required: true, class: 'signup_section_form_field' %>
    <%= f.email_field :email, placeholder: "abc@example.com", required: true, class: 'signup_section_form_field' %>
    <%= f.password_field :password, placeholder: "password", minlength: 8, required: true, class: 'signup_section_form_field' %>
    <%= f.submit "Sign Up", class: 'signup_section_form_btn' %>
    
    <div class="already_account">
      <p class="already_account_text">Already have an account?</p>
      <%= link_to "Login to your account", login_path, class: 'already_account_link' %>
    </div>
  <% end %>
</div>
