<%= stylesheet_link_tag 'login_page' %>

<div class="login_section">
  <%= image_tag("signup.jpg", alt: "Description of the image", class: 'session_left_img') %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'login_section_form' }) do |f| %>
    <%= image_tag('logo_temp.png', alt: 'Logo', class: 'site_logo login_section_form_logo') %>
    <h2 class="login_section_form_heading">Login</h2>
    <p class="login_section_form_text">Please enter your login details</p>

    <%= f.email_field :email, class: 'login_section_form_field', placeholder: "abc@example.com", required: true %>
    <%= f.password_field :password, class: 'login_section_form_field', placeholder: "password", minlength: 8, required: true %>        
    <%= f.submit "Log In", class: 'login_section_form_btn' %>

    <div class="already_account">
        <p class="already_account_text">Don't have an account?</p>
        <%= link_to "Create account", root_path, class: 'already_account_link' %>
    </div>
  <% end %>
</main>
