<main class="grid grid-cols-9 gap-4 w-screen">
    <%= image_tag("signup.jpg", alt: "Description of the image", class: "col-span-4 h-full w-full object-cover filter brightness-75") %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "col-span-5 flex flex-col justify-center items-center space-y-5" }) do |f| %>

        <h2 class="text-3xl font-semibold text-indigo-900">Login</h2>
        <p class="text-base text-gray-500">Please enter your login details</p>
        <%= f.email_field :email, class: "w-1/2 h-16 px-5 bg-gray-100 border-solid focus:outline-none focus:ring", placeholder: "abc@example.com", required: true %>
        <%= f.password_field :password, class: "w-1/2 h-16 px-5 bg-gray-100 border-solid focus:outline-none focus:ring", placeholder: "password", minlength: 8, required: true %>        
        <%= f.submit "Log In", class: "h-10 px-5 m-2 text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg hover:bg-indigo-800 h-12 px-6 m-2 text-lg" %>
        <div class="col-span-5 flex justify-center space-x-4">
            <p class="text-gray-400 hover:underline">Don't have an account?</p>
            <%= link_to "Create account", root_path, class: "text-indigo-700 hover:underline" %>
        </div>
    <% end %>
</main>
